@font-face {
    font-family: 'Poppins';
	src: url(/fonts/Poppins-ExtraLight.ttf);
}

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

#loginhome{
    display: flex;
    width: 100%;
}

#lateralhome1{
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 30%;
}

#lateralhome2{
    background-image: url("image 2.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100vh;
}

#logo{
   display: flex;
   justify-content: center;
   margin-top: 2%;
}

#logo img{
    width: 85%;
}

#areawelcome{
    width: 50%;
    padding-left: 10%;
}

#titulo1 {
    font-weight: 200;
    letter-spacing: 1px;
    width: 10%;
    font-size: 290%; 
    color: white;
}

#texto1{
    letter-spacing: 0.6px;
    font-size: 75%;
    display: flex;
    width: 60%;

}

p {
    color: white;
}

#arealogin{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 42%;
    height: 20%;
    gap: 50px;
    bottom: 20%;
}

#login{
    font-weight: 100;
    font-size: 150%;
    color: #FFFFFF;
}

#areaemail.form{
    width: 100%;
    height: 250%;
}
input{
    text-decoration: none;
    background: #26292C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    height: 250%;
}

.form{
    position: relative;
}

.form img{
    position: absolute;
    top: 80%;
    right: 10%;
}

#areaerrormsg{
    display: flex;
    height: 10%;
}

input[type=submit]{
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 300%;
}

::placeholder {
    padding-left: 15px;
    color: white;
  }