@font-face {
    font-family: 'Poppins';
	src: url(/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(fonts/Poppins-Medium.ttf);
}

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

#loginhome{
    display: none;
    width: 100%;
}

#lateralhome1{
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#lateralhome2{
    background-image: url("imagens/fundo-login.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100vh;
}

#logo{
   display: flex;
   justify-content: center;
   margin-top: 2%;
}

#logo img{
    width: 85%;
}

#areawelcome{
    width: 50%;
    padding-left: 10%;
}

#titulo1 {
    font-weight: 200;
    letter-spacing: 1px;
    width: 10%;
    font-size: 290%; 
    color: white;
}

#texto1{
    letter-spacing: 0.6px;
    font-size: 75%;
    display: flex;
    width: 60%;
    padding-top: 1%;
}

p {
    color: white;
}

#arealogin{
    display: flex;
    flex-direction: column;
    width: 42%;
    gap: 50px;
    bottom: 20%;
    gap: 10%
}

#login{
    font-weight: 100;
    font-size: 150%;
    color: #FFFFFF;
}

#areaemail.form{
    width: 100%;
    height: 250%;
}
input{
    text-decoration: none;
    background: #26292C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    color: #FFFFFF;
    padding-left: 8%;
}

.form{
    position: relative;
}

.form img{
    position: absolute;
    top: 35%;
    right: 10%;
}

#areaerrormsg{
    display: flex;
    height: 10%;
}

#areasubmit{
    padding-top: 10%;

}
input[type=submit]{
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 65px;
    padding-right: 8%;
}

::placeholder {
    color: white;
}

#homepage{
    display: flex;
    flex-direction: column;
    background: linear-gradient( 105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
}

#homeheader{
    display: flex;
    align-items: center;
    position: relative;
    gap: 35%;
}

#logoheader{
   padding-bottom: 6%; 
   padding-left: 2%;
}

#logoheader img{
    position: absolute;
}

#areahorario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hora{
    font-family: "Poppins-Bold";
    position: relative;
    font-size: 144px;
}

#data{
    top: 160px;
    position: absolute;
    font-size: 100%;
    font-weight: 700;
}

#homearea{
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

#logocompass{
    display: flex;
    align-content: stretch;
}
 
#logocompass img{
    width: 85%;
}

#areatext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
    margin-top: 3.2%;
    margin-right: 11.3%;
}

.hometext1{
    font-family: "Poppins-Bold";
    font-size: 45px;
    color: #C13216;
    font-weight: 1000;
}
.hometext2{
    color: #1C1D20;
    font-weight: 1000;
    font-size: 20px;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#footerhome{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 14vh;
    background: linear-gradient(90.16deg, rgb(51, 56, 61) 0%, rgb(28, 29, 32) 100%);
}

#textfooterarea{
    width: 30%;
    margin-left: 20%;
    margin-right: 8%;
}

#textfooter{
    font-size: 12px;
    font-weight: 500;
}
