
#areaTempo{
    color: #222222;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    height: 30%;
    margin-top: 1.5%;
}

#climate{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 15%;
}

#iconTempo{
    height: 60%;
}

#grau{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
}