
#areaTempo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
}

#grau{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}