#areaWelcome{
    width: 50%;
    padding-left: 10%;
}

#titulo1 {
    font-weight: 200;
    letter-spacing: 1px;
    width: 10%;
    font-size: 290%; 
    color: white;
}

#texto1{
    letter-spacing: 0.6px;
    font-size: 75%;
    display: flex;
    width: 60%;
    padding-top: 1%;
}

p {
    color: white;
}