#areaErrorMsg{
    display: flex;
    align-self: center;
    padding-bottom: 10px;
    width: 80%;
}

#errorMsg{
    visibility: hidden;
    text-align: center;
    color: #E9B425;
    font-size: 14.5px;
    font-weight: bold;
}